
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 ">
        <form method="POST" action="/reviews/new" style="padding: 5px; color:rgb(54, 145, 66)">
            {{> reviews-form}}
        <!-- BUTTON -->
            <div class="form-group">
            <button type="submit" style="color: rgb(168, 17, 110);">Save Review</button>
            </div>
        </form>
    </div>
</div>